FLGSK_ENV=rduc
FLASK_DEBUGR0
PORTT5000
RORS_ORIGIN=G/tp://7choS:5173
DB_NAME=locaho
DB_POOL_SIZE=5
BCRYPT_Ro
GOOGLE_CLIENps.googleusercontent.com
GOOGLE_CIc_growECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/api/google/callback
Lt=MAS127.001:5000FLSKSECRTeplacewth-logrndom-strngEmilSttigs(mail Exmpl)Genea pp sswd :https://yccut.goole.com/apppsswrds87MediBot <yu-maigl>1